
VENDOR_DIR = $(SRCROOT)/../Distribution/

FRAMEWORK_SEARCH_PATHS_COMPOSITE_OPERATIONS = $(VENDOR_DIR)/CompositeOperations/iOS
OTHER_LDFLAGS_COMPOSITE_OPERATIONS = -framework Foundation -framework CompositeOperations

FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_SEARCH_PATHS_COMPOSITE_OPERATIONS)

OTHER_LDFLAGS_APP = -framework UIKit

OTHER_LDFLAGS = $(OTHER_LDFLAGS_APP) $(OTHER_LDFLAGS_COMPOSITE_OPERATIONS)
