<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CompositeOperations.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>864AA3D51A17AB20008A1EA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>864AA3E31A17AB63008A1EA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>864EE0D11AC4B055007D1B13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>864EE0DB1AC4B055007D1B13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>864EE0F51AC4B362007D1B13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>864EE0FF1AC4B362007D1B13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
